* {
	padding: 0px;
	margin: 0px;
}

header {
    
	width: 100%;
    padding: 15px;
    box-sizing: border-box;
	color: white;
	background: #000;
	line-height: 1.5em;
	font-family: 'Verdana', sans-serif;
	font-size: 10px;
	text-align: center;
}

.left_col {
	width: 30%;
	padding-top: 5px;
	background: #999;
	color: white;
	min-height: 545px;
    font-family: 'Verdana' ,sans-serif;
	float: left; 
	text-align: right;


}
.right_col {
	width: 70%;
	padding-top: 10px;
	background: #333;
	color: white;
	min-height: 540px;
	font-family: 'Verdana' ,sans-serif;
	float: left;
	text-align: right;
	

}

footer { 
	
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	color: white;
	background: #000;
	line-height: 1.5em;
	font-family: 'Verdana', sans-serif;
	font-size: 10px;
	text-align: center;
	clear: both;

}

.left_col ul li a {
	padding-top: 10px;
	font-family: 'Arial', sans-serif;
	color: white;
	text-decoration: none;
	
}  

.pressed {
	color: #000;
}

.other {
  background: #666;
}

	