body {  
       color: white;
       background: black; 
       font-size: 25px;
       padding: 30px;
       margin: 10px;
                        
      }

.white{
       color: black;
       background: white;
      }

.green{
       color: white;
       background: green;

      }

.red{
       color: white;
       background: red;

      }

td,li {
       color: white;
       background: orange;
       font-size: 30px;
       font-style: italic;
      }

.italic{
                          
        font-style: italic;
      }