* {

	margin: 0px;
	padding: 0px;
	font-family: Verdana;
}
a {

	list-style: none;
	color: #fff;
	text-decoration: none;
}

/* HEADER STYLE */
header {

	position: relative;
	height: 80px;
	background-color: #c41a17;
	
}
h1 {

	margin-top: 20px;
	display: inline-block;
}
div.container {
	
    position: absolute;
	min-width: 1236px;
	left: 50%;
	margin-left: -618px;
}
ul.nav {

	float: right;
	margin-top: 30px;
}
ul.nav li {

	 display: inline-block;
	 text-transform: uppercase; 
	 margin-left: 15px;
	 font-size: 12px;
}
ul.nav .first_li:hover {
	
	background-color: #3a4141;
	border-radius: 5px;
}
ul.nav a {

	padding: 10px 20px;
}
ul.nav  a:hover {

	background-color: #e2534b;
	border-radius: 5px;
} 
a.arrow {

	background-image: url('../images/right-nav-arrow.png'); 
	background-repeat: no-repeat; 
	background-position: left center;
	
}
a.arrow:hover {

	background-image: url('../images/nav-arrow.png');
}
ul.nav div {
	
	height: 20px;
	position: relative;
	display: none;
	background-image: url('../images/bar-nav-arrow.png');
	background-repeat:  no-repeat;
	background-position: 5px bottom;
	
}
ul.nav li:hover div {
    z-index: 1;
	display: block;
}
ul.sf-menu  {

	position: absolute;
	width: 200px;
	margin-top: 18px;
	background-color: #e2534b;
	border-radius: 5px;	
}
 ul.sf-menu li {

	margin: 12px 5px;
    font-size: 9px;    
}
 ul.sf-menu  a {

	padding: 9px 15px;
	background-color: #e5655d;
	background-image:  url('../images/right-nav-arrow.png');
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 5px;
		
}
ul.sf-menu  a:hover {

	background-color: #3a4141;
}
/* END HEADER */

/* Carousel  */
.carousel {
	background-image: url('../images/carousel.jpg');
	height: 500px;
	position: relative;

}
.carousel .arrow_left {
	background-image: url('../images/double-arrow.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-color:  #e8645a;
	position: absolute;
	display: inline-block;
	left: 0;
	top: 40%;
	width: 50px;
	height: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.carousel .arrow_right {

	transform: rotate(180deg);
	background: url('../images/double-arrow.gif');
	background-position: center;
	background-repeat:  no-repeat;
	background-color:  #e8645a;
	position: absolute;
	display: inline-block;
	right: 0;
	top: 40%;
	width: 50px;
	height: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.carousel .text_box {

	width: 1150px;
	border-radius: 10px;
	position: absolute;
	bottom: 10%;
	background-color: rgba(1,1,1,.5);
	left: 50%;
	margin-left: -575px;
	min-height: 100px;
	color: #fff;
	
}
.carousel .text_box h2 {

	font-size: 30px;
	margin: 20px;
}
.carousel  div.text_box p {

	margin: 20px;
	font-size: 20px;
    text-align: left;
}
/* END CARPUSEL */

div.first-section {

	position: relative;
	margin-top: 0px;
	background-color: #f3f3f3;
	min-height: 600px;
	border-bottom: 3px solid #2e3636;
	
}

.custom_box {

	width: 1150px;
	border-radius: 10px;
	position: absolute;
	background-color: #ececec;
	top: 50px;
	left: 50%;
	margin-left: -575px;
	min-height: 100px;
	color: #fff;
	

}
.custom_box h2 {
	margin: 10px 20px;
	color: #da3f39;
}
.custom_box p {
	margin: 10px 20px;
	float: left;
	color: #777;
}
.custom_box input {

	float: right;
	width: 200px;
	height: 54px;
	margin:  -30px 30px;
	border-radius: 5px;
	text-transform: uppercase; 
	color: #fff;
	background-color: #e8645a;

}
.box-holder {
	position: absolute;
	padding-left: 30px;
	
}

.little_box {
	position: relative;
	background-color: #f8f8f8;
	width: 270px;
	float: left;
	margin-left: 20px;
	margin-top: 200px;
	height: 300px;
	border-radius: 5px;
	
	

}


.little_box input {

	position: absolute;
	width: 200px;
	height: 50px;
	bottom: -20px;
	background-color: #2e3636;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	left: 50%;
	margin-left: -100px;	
}

.little_box.main h3,p {
	 
	color: #777;
}
.little_box h3 {
	text-transform: uppercase;
	margin-bottom: 10px;
}
.little_box h3,p {
	color: #808080;
	text-align: center;
	padding: 0px;
}
.little_box img {
	margin: 50px 100px;
}

.little_box input:hover{
	cursor: pointer;
	background-color: #e8645a;
}
div.second-section {
	
	height: 490px;
    background-color: #ededed;
    background-image: url('../images/backgroundImageColors.jpg');
    background-repeat: no-repeat;

}
div.text_container {
	width: 520px;
	min-height: 420px;
}

div.second-section div.text_container {
   position: absolute;
   top: 60px;
   left: 54%;


}
div.text_container h2 {
	margin-bottom: 20px;
	text-align: center;
	color: #da3f39;
	font-size: 24px;

}
div.text_container p {
	margin-bottom: 20px;
	text-align: justify;
	color: #878787;
    font-size: 18px;

}

